body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./components/assets/img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}
html{
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
